.center {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: gray
}

.svg {
    position: relative;
}

@keyframes animateIn {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes shakeIt {
    0%{
        transform: scale(1);
    }
    
    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(.7);
    }

    75% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}